/* #header {
    justify-content: center;
    margin-bottom:3rem;
    margin-top: 3rem;




}
img{
    height : 5rem;
    width: 10rem;
    object-fit: cover;
}
h1{
    font-size: 5rem;
    font-family: "Roboto Condensed" , sans-serif;
    color: linear-gradient(#ea00ff,#03d5ff);
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    background: linear-gradient(40deg, #ea00ff, #03d5ff);
    font-weight: 700;
    background: linear-gradient(40deg, #ea00ff, #03d5ff);
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}
p{
       font-family: "Roboto Condensed";
       font-weight: 1.25rem;
       color:#8964b0 ;

 
} */



#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  text-align: center;
}

img {
  height: 5rem;
  width: 10rem;
  object-fit: cover;
  margin-bottom: 1.5rem;

}

h1 {
  font-size: 5rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;

  background: linear-gradient(40deg, #ea00ff, #03d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  

  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.25rem;
  color: #8964b0;
}

