
/* ziad style css */
body{
  background-color: #230742;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: rgb(196, 193, 193);
}

.tab-button {
  padding: 8px 16px;
  border: none;
  background-color: #230742;
  margin-right: 8px;
  color: white;
  cursor: pointer;

  
}

.tab-button.active {
  background: #7925d3;
  border-radius: 6px;
  color: white;
}

.tab-content {
  margin-top: 20px;
  background: #2f1d43;
  padding: 12px;
  
  color: white;
}

/* ziad style css */