
/* ziad style css */

.tab-button {
  padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}


.tab-button.active {
  font-weight: bold;
  border-bottom: 2px solid #4f46e5;
 
}
/* ziad style css */